<!Doctype html>
<html>
<head><title>Asking</title></head>
<body>
    <h5 style="color: red; font-weight: bold; "> Decryptor </h5>

    <form action="http://0.0.0.0:5000/received2"  method="POST" style="text-align: center;" >
        
      <fieldset>
        <legend>Text to be Encrypted</legend>
        Name : <input type="text" value="user_name" name="user_name" maxlength="30"/>
        Email ID : <input type="text" value="emailId" name="emailId" maxlength="30"/>
        <textarea rows="30" cols="80" name="key" > Enter the Decryption Key here..</textarea>
        <input type="submit" value="CLick Here to Submit"/>
        <br/><br/><br/>
          <textarea rows="30" cols="80" name="en_code" > Enter the Encrypted Code to be Decrypted</textarea>
      </fieldset>
    </form>
    <p>After the complete operation, u can log on to " http://192.168.225.44:8000/result " and copy the encrypted code there.</p>
</body>
</html>
