<!Doctype html>
<html>
<head><title>Asking</title></head>
<body>
    <h5 style="color: red; font-weight: bold;"> Please Enter the code you want to Encrypt below.</h5>

    <form action="http://0.0.0.0:5000/received"  method="GET" style="text-align: center;" >
      <fieldset>
        <legend>Text to be Encrypted</legend>
        Name : <input type="text" value="user_name" name="user_name" maxlength="30"/>
        Email ID : <input type="text" value="emailId" name="emailId" maxlength="30"/>
        <textarea rows="30" cols="80" name="code" > Enter the text here.</textarea>
        <input type="submit" value="CLick Here to Submit"/>
      </fieldset>
    </form>
    <p>After the complete operation, u can log on to " http://192.168.225.44:8000/result " and copy the encrypted code there.</p>
</body>
</html>
