<!doctype html>
<html>
<head><title>Intro To Encryption Engine</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
</head>

<body>
    <section id="abouts">
        <div class="container">
            <br/>
            <h2 style="text-align: center; color: red;"> Encryption Engine</h2>
            <br/>
            <hr/>
            <h3 style="text-align: center; color: red;">About</h3>
            <p style="text-align: justify">This application is primarly a Python based GUI supported software which encrypts the documents of the end user by using 256-bit encryption process. <br> This product is basically a web-based version of it.</p>
            <p style="text-align: justify">To view the original Engine written in python, Click the link below<br></p>
            <a href="https://github.com/Harkishen-Singh/Encryption_engine" alt="Encryption Engine">Encryption Engine</a><br/>
            <br>
            <p style="color: darkblue;">To Proceed to the software, click on the link Below </p>
            <a href="http://0.0.0.0:5000/values" alt="proceed to further process">Web Based Applicaton for Encryption Engine</a>
            <br>
                
            <h4 style="color: darkblue;">Deisgned and developed by : Harkishen Singh</h4>
        </div>
    
    </section>
    
</body>
</html>